 <:Body>
  <select title="Font" class="ql-font">
    <option value="Georgia, serif">Georgia PEACH</option>
    <option value="Copperplate" selected>Copperplate IRONMAN</option>
    <option value="'Brush Script MT', cursive" selected>Brush Script</option>
    <option value="sans-serif" selected>Sans Serif</option>
    <option value="Monaco, 'Courier New', monospace">Courier</option>
    <option value="Futura" selected>SUPER Futurra</option>
    <option value="Impact" selected>HIGH impact</option>
  </select>